.nature{
    background: url("https://wallpapers.com/images/hd/bando-de-folhas-planta-de-fundo-4k-fdl0xfepzk0ww113.jpg");
    background-size: contain;
    background-clip: text;
    color: transparent; 
    font-size: 350px;
    font-family:fantasy;
    display: flex;
    justify-content: center;
}
