*{
    margin: 0px;
    padding: 0px;
}



.container{
    height: 100vh
}

.fundo {
        background-color: #F5F5F5; 
        
        min-height: 100vh;
    }


.quadrado-inicial{
    height: 600px;
    width: 900px;
    background-color: #2C73D2;
    border-radius: 20px;
}


.quadrado-entrar{
    height: 100%;
    width: 30%;
    background-color: #2C73D2;
    border-radius: 20px 1px 1px 20px;
}








.metade{
    height: 50%;
}

.flex{
    display: flex;
}

.linha-meio{
    justify-content: center;
}

.linha-final{
    justify-content: end;
}

.coluna-final{
    align-items: end;
}

.meio {
    height: 100%;
}

.space-between{
    justify-content: space-between;
}

.final{
    justify-content: space-between;
    align-items: center;
}

.coluna-centro{
    flex-direction: column-reverse;
    justify-content: space-between;
}

.tudo-centro{
    justify-content: center;
    align-items: center;
}

.coluna-meio{
    align-items: center;
}

.coluna{
    flex-direction: column;
}

.tamanho-medio{
    font-size: x-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 1px;
    color: #333333;
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
}


.tamanho-pequeno{
    font-size: medium;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 1px;
}

.cor-botao{
    background-color: rgb(100, 100, 100);
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgb(56, 56, 56);
}

.botao2{
    display: flex;
    flex-direction: column;
}

.tamanho-botao{
    font-size: medium;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 80px;
    height: 50px;
    border-radius: 30px 30px 30px 30px;
    justify-content: center;
    align-items: center;
}

.quadrado-meio{
    height: 60%;
    width: 25%;
    background-color:#2C73D2;
    border-radius: 20px 20px 20px 20px;
}

.fonte{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: small;
}

.input{
    height: 40px;
    width: 300px;
    background-color: #26A69A;
    border-radius: 40px;
    font-size: x-large;
    font-family: impact, fantasy;
    color:#666666;
    padding-left: 15px; 
    border: none;      
    outline: none;
}

.tamanho-cadastrar{
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 300px;
    height: 35px;
    border-radius: 30px 30px 30px 30px;
    justify-content: center;
    align-items: center;
}

.cor-cadastrar{
    background-color: #26A69A;
    border-radius: 50px;
    color:  #333333;
}


.tamanho-botao-entrar{
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100px;
    height: 35px;
    border-radius: 30px 30px 30px 30px;
    justify-content: center;
    align-items: center;
}

.tamanho-botao-criar{
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 130px;
    height: 35px;
    border-radius: 30px 30px 30px 30px;
    justify-content: center;
    align-items: center;
    background-color: rgb(100, 100, 100);
}

.tamanho-bem{
    font-size: 150%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 1px;
    color: #333333;
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
}

.borda{
    border: 2px #666666;
}

.borda-grossa{
    border: 3px #666666;
}

.ola{
    align-items: end;
}



.formulario{
    width: 60%;
    height: 105%;
    background: #c4d5e4;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quadrado-meio{
    width: 500px;
    height: 700px;
    background: #5e7991;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.botao-estilizado {
    background-color: #ffffff; /* Azul que combina com sua imagem */
    color: rgb(0, 0, 0);               /* Cor do texto */
    border: none;               /* Remove aquela bordinha feia padrão */
    padding: 10px 20px;         /* Espaçamento interno (altura e largura) */
    border-radius: 50px;        /* Deixa o botão bem arredondado (estilo pílula) */
    font-weight: bold;          /* Texto em negrito */
    cursor: pointer;           /* Mostra a mãozinha ao passar o mouse */
    transition: 0.2s;           /* Faz a mudança de cor não ser brusca */
}